
nav {
    background-color: #0c1329;
    padding: 10 px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

main {
    margin-top: 25px;
    background-origin: padding-box;
}
body {
   font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 0px;
    color: blue;
    border: 5px navy;

}

